<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
<!--        <typeAlias type="com.ice.stat.online.model.EventFlag" alias="EventFlag"/>-->
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@192.168.98.5:1521/yqsj"/>
                <property name="username" value="yqsj_ods"/>
                <property name="password" value="yqsj_ods2020"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <mapper resource="mybatis/UserMapper.xml"/>
    </mappers>

</configuration>