<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chutianyun.bigdata.mybatis.OracleMapper"><!--  接口的全类名 -->
    <!-- type:实体类的全类名 -->
    <resultMap id="BaseResultMap" type="com.chutianyun.bigdata.model.oracle.ApplicationPeople">
        <!--        <id column="ID" property="id" jdbcType="DECIMAL"/>-->
        <!--        <result column="USERNAME" property="userName" jdbcType="VARCHAR"/>-->
        <!--        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>-->
        <!--        <result column="GENDER" property="gender" jdbcType="CHAR"/>-->
        <!--        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>-->
        <!--        <result column="CREATE_DATE" property="createDate" jdbcType="DATE"/>-->
    </resultMap>

    <!-- id 跟接口中的方法名称保持一致 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO
        test_fgrysq(TBSJ,QYMC,QYTYSHXYDM,QYXXDZ,QYLXR,QYSQFHSJ,QYSJ,XH,XM,SFZH,XZD_SZ,XZD_XSQ,XZD_XXDZ,XZD_SJ,
        XZD_GWGZ,JSY_FGRY,CLPZH,QYSZDXZHBSHYJ,XJLDXZHBJKZM,RKWJ,WJML,WJZML)
        (
        <foreach collection="list" index="" item="applicationPeople" separator="union all">
            select
            #{applicationPeople.TBSJ, jdbcType=VARCHAR},
            #{applicationPeople.QYMC,jdbcType=VARCHAR},
            #{applicationPeople.QYTYSHXYDM,jdbcType=VARCHAR},
            #{applicationPeople.QYXXDZ,jdbcType=VARCHAR},
            #{applicationPeople.QYLXR,jdbcType=VARCHAR},
            #{applicationPeople.QYSQFHSJ,jdbcType=VARCHAR},
            #{applicationPeople.QYSJ,jdbcType=VARCHAR},
            #{applicationPeople.XH,jdbcType=VARCHAR},
            #{applicationPeople.XM,jdbcType=VARCHAR},
            #{applicationPeople.SFZH,jdbcType=VARCHAR},
            #{applicationPeople.XZD_SZ,jdbcType=VARCHAR},
            #{applicationPeople.XZD_XSQ,jdbcType=VARCHAR},
            #{applicationPeople.XZD_XXDZ,jdbcType=VARCHAR},
            #{applicationPeople.XZD_SJ,jdbcType=VARCHAR},
            #{applicationPeople.XZD_GWGZ,jdbcType=VARCHAR},
            #{applicationPeople.JSY_FGRY,jdbcType=VARCHAR},
            #{applicationPeople.CLPZH,jdbcType=VARCHAR},
            #{applicationPeople.QYSZDXZHBSHYJ,jdbcType=VARCHAR},
            #{applicationPeople.XJLDXZHBJKZM,jdbcType=VARCHAR},
            #{applicationPeople.RKWJ,jdbcType=VARCHAR},
            #{applicationPeople.WJML,jdbcType=VARCHAR},
            #{applicationPeople.WJZML,jdbcType=VARCHAR}
            from dual
        </foreach>
        )
    </insert>

</mapper>